.buttonPrimary,
.buttonSecondary {
  height: 32px;
  border-radius: 42px;
  font-size: 0.75rem;
  border: 1px solid var(--secondary-medium);
  color: var(--secondary-medium);
  padding: 0 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #ffe7ee;
  }

  svg {
    margin-right: 5px;
  }
}

.buttonSecondary {
  color: var(--neutrals-extra-dark);
  border: 0;
}
