.alignPostDetailsContent {
  min-width: 343px;
  max-width: calc(100vw - 64px);
  margin: 16px auto 0 auto;
  @media (width >= 650px) {
    display: flex;
    justify-content: center;
  }
}

.backButton {
  margin: 0 75px 16px 0;
}

.postContent {
  max-width: 874px;
}

h2 {
  font-size: 1.75rem !important;
  margin: 0;
}

.postInfo {
  display: flex;
  margin-top: 12px;

  img {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    margin-right: 9px;
  }

  small {
    color: #000;
    line-height: 130%;
    padding-top: 3px;

    span {
      color: var(--neutrals-extra-dark);
    }
  }
}

.thumbnailImage {
  margin-top: 20px;
  border-radius: 8px;
}

hr {
  border-color: var(--neutrals-extra-light);
  margin-top: 20px;
}
